<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>Insert title here</title>
</head>
<body>
<div align="center">
	<script type="text/javascript" th:inline="javascript">
	var fname = /*[[${student.studentFname}]]*/ 'student fname';
	var lname = /*[[${student.studentLname}]]*/ 'student lname';
	var clss = /*[[${student.studentClass}]]*/ 'student class';
	alert("First name:"+fname+"\nLast name:"+lname+"\nClass:"+clss+"\nSave student data to System ?");
		document.location.href = '/admin_login_success';
	
	
	</script>
</div>

</body>
</html>