<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="admin_login.css">
<title>Insert title here</title>
</head>
<body>
<div align="right">
<a href="index.html"><h3>Home</h3></a>
</div>
<form action="#" th:action="@{/admin_login_success}"  method="post">
	<div class="second">
		<label for="AdminID">AdminID : </label>
		<input type="text" id="id" name="id" placeholder="Enter ID">
		<br><br>
		<label for="psw">Password : </label>
		<input type="password" name="pass" placeholder="Enter Password">
		<br><br>
	</div>
	<div align="center">
		<button  type="submit" >Login</button>
	</div>
	</form>
	<style>
	h3{
	
	font-size: 30px;
	color: white;
	}
	button{
	
	background-color:#46679d;
  border: none;
  color: white;
  padding: 16px 64px;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 10%;
  margin-left: 1%;
  
  cursor: pointer;
	}
	
	
	
	
	
	</style>
	
		
</body>
</html>