<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Adding book to database</title>
</head>
<body>
<div align="center">
<h1>Enter details of Book</h1>
	<form action="#" th:action="@{/add_book}" th:object="${book}" method="post">
	 	<table>
	 		<tr>	
	 			<td>
	 			<label>Book Name:</label>
	 			</td>
	 			<td>
	 				<input  id="book_name" type="text" th:field="*{bookTitle}" placeholder="Book Name">
	 			</td>
	 		</tr>
	 		<tr>	
	 			<td>
	 			<label>Author Name:</label>
	 			</td>
	 			<td>
	 				<input id="book_author" type="text" th:field="*{bookAuthor}" placeholder="Author">
	 			</td>
	 		</tr>
	 		<tr>	
	 			<td>
	 			<label>Price:</label>
	 			</td>
	 			<td>
	 				<input id="price" type="text" th:field="*{bookPrice}" placeholder="Price">
	 			</td>
	 		</tr>
	 		<tr>	
	 			<td>
	 			<label>Copies:</label>
	 			</td>
	 			<td>
	 				<input id="copies" type="text" th:field="*{bookCount}" placeholder="Copies">
	 			</td>
	 			<tr>
	 			<td><button  type="submit" >Submit</button></td>
	 		</tr>
	 		</tr>
	 		
	 	</table>
 	</form>
</div>
</body>
</html>